@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli/Muli-Regular.ttf');
}

@font-face {
    font-family: 'Muli';
    font-weight: bold;
    src: url('../fonts/Muli/Muli-Bold.ttf');
}