* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: #f5f5f5;
    font-family: 'Muli';
    font-size: .87em;
}

body.with-image {
    background: #000 url('../img/catch2.jpeg') no-repeat;
    background-size: cover;
}

body.main-body {
    background-color: #fff;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font-family: inherit;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
    cursor: pointer;
}

.input,
.btn {
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}

.input {
    border: 1px solid #e5e5e5;
    border-radius: .2em;
    padding: .7em;
}

.input.error {
    border-color: rgba(151, 21, 21, 0.5);
}

.input.valid{
    border-color: rgb(8, 88, 8, 0.5);
}

.btn {
    background-color: #27408B;
    border: 0;
    border-radius: .2em;
    color: #fff;
    font-weight: bold;
    padding: 1em 2em;
}

.btn:hover {
    background-color: #20367a;
    -webkit-box-shadow: 3px 5px 10px rgba(0,0,0,0.12);
            box-shadow: 3px 5px 10px rgba(0,0,0,0.12);
}

.btn.green {
    padding: 1em 1.5em;
    background: -webkit-gradient(linear, left top, right top, from(#55DDAC), to(#00CDAC)) !important;
    background: linear-gradient(to right, #55DDAC, #00CDAC) !important;
}

.btn.outline {
    background-color: transparent;
    border: 2px solid #d0d0d0;
    color: #000;
}

header.main {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    z-index: 1000;
}

header.main.scrolled {
    background-color: rgba(0,0,0,0.8);
}

header.main .brand {
    padding: 1em 2em;
}

header.main nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header.main nav li {
    float: left;
}

header.main nav li span {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    width: 0;
}

header.main nav li:hover a {
    color: #f0f0f0;
}

header.main nav li:hover span {
    width: 100%;
}

header.main nav li a {
    color: #d5d5d5;
    display: block;
    font-weight: normal;
    padding: 1em 2em;
    text-transform: uppercase;
    -webkit-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
}

header.main .brand,
header.main nav {
    float: left;
}

header.main .pallet {
    padding: .7em 1.7em;
    float: right;
}

header.main .pallet a {
    background: #333;
    color: #fff;
    float: left;
    font-size: .8em;
    font-weight: bold;
    padding: .5em .7em;
    text-transform: uppercase;
}

header.main .pallet a:hover {
    background: #333;
}

header.main .pallet .login {
    background: #27408B;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
}

header.main .pallet .register {
    background: #008B45;
    border-top-right-radius: .3em;
    border-bottom-right-radius: .3em;
}

.index-s-top {
    background: #333 url('../img/catch2.jpeg') no-repeat center;
    background-position: center;
    background-size: cover;
    color: #999;
    padding: 6em 1em 2em 1em;
}

.index-s-top h1,
.index-s-top h2 {
    color: #999;
    text-align: center;
}

.index-s-top-featured {
    list-style: none;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    white-space: nowrap;
    overflow: hidden;
}

.index-s-top-featured li {
    display: inline-block;
}

.index-s-top-featured .story {
    background-size: contain;
    background-repeat: no-repeat;
    background: rgba(0,0,0,0.4);
    border-radius: .3em;
    color: #888;
    padding: 1em;
    position: relative;
    width: 180px;
    margin: 1em;
    height: 220px;
    overflow: hidden;
}

.index-s-top-featured .story-title {
    background: rgba(0,0,0,0.7);
    color: #d0d0d0;
    -webkit-clip-path: polygon(0 0, 110% 20%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 110% 20%, 100% 100%, 0 100%);
    padding: 1.6em 1em;
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-s-top-featured .story-title a {
    color: #d0d0d0 !important;
    font-weight: bold;
}

.index-s-top-search {
    padding: 3em 0 2em 0;
    text-align: center;
}

.index-s-top-search input[type=text] {
    border: 0;
    border-radius: .3em;
    -webkit-box-shadow: 0px 3px 1px rgba(0,0,0,0.11), 0px 1px 1px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 1px rgba(0,0,0,0.11), 0px 1px 1px rgba(0,0,0,0.12);
    display: inline-block;
    font-size: inherit;
    padding: .8em;
    width: 45%;
}

.index-s-write {
    padding: 1.4em 0 2.1em 0;
    text-align: center;
}

.index-s-write a {
    color: #909090;
    font-weight: bold;
}

.index-s-author-con h3,
.index-s-author-story-box h3{
    padding: 1em;
}

.index-s-sub {
    background-color: #31394C;
    color: #fff;
    padding: 2em 0;
    margin: 2em 0;
}

.index-s-sub h4 {
    font-size: 2em;
    margin: 0;
    padding: 1em 1em .4em 1em;
}

.index-s-sub-info {
    font-size: 1.3em;
    padding: .2em 1em 2em 1.5em;
}

.index-s-sub form {
    padding: 4em 1em 0 1em;
}

.index-s-sub form input[type=text] {
    border: 0;
    border-radius: .2em;
    display: block;
    padding: 1em .8em;
    width: 100%;
}

.index-s-sub form button {
    background: #000;
    border: 0;
    border-radius: .3em;
    color: #fff;
    display: block;
    padding: 1em;
    height: 100%;
    margin: 0 1em;
}

.index-s-author-data {
    background: #fff;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.11), 0px 1px 1px rgba(0,0,0,0.12);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.11), 0px 1px 1px rgba(0,0,0,0.12);
    border: 1px solid #e0e0e0;
    margin: 1em;
}

.auth-app {
    max-width: 400px;
    margin: auto;
    margin-top: 1%;
}

.auth-app-loader {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 35% 0 0 0;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
}

.auth-app-logo {
    font-size: 2.5em;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

.auth-app-logo a {
    color: #fff;
}

.auth-app-container {
    border-radius: .2em;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.auth-app-title {
    font-size: 1.7em;
    padding: 1em 1em .4em 1em;
}

.auth-app-subtitle {
    padding: 1em;
}

.auth-app-input {
    padding: .5em 3em;
}

.auth-app-container input {
    width: 100%;
}

.auth-app-btn {
    padding: 1.4em;
}

.auth-done-head {
    background-color: #008B45;
    background: linear-gradient(to right, #008B45, #05c7ad);
    color: #fff;
    font-size: 3.5em;
    padding: 1.2em 0;
    text-align: center;
}

.auth-done-note .title {
    color: #404040;
    font-size: 1.7em;
    font-weight: bold;
    padding: 1em;
}

.auth-done-note .sub-title {
    font-size: 1.1em;
    padding: 1em;
}

.welcome-toolbar {
    margin: auto;
    max-width: 400px;
    text-align: center;
    top: 10%;
}

.welcome-big {
    font-size: 1.5em;
    padding: .7em 1em;
}

/** utilities **/
.error-label {
    color: #991616;
    font-size: .9em;
    font-weight: bold;
    padding: .3em;
}

.text-white {
    color: #fff;
}

.padded {
    padding: 2em;
}

.padded-v {
    padding: 2em 0;
}

.padded-h {
    padding: 0 2em;
}

.centered {
    text-align: center;
}

.clearfix { clear: both; }

.ease {
    -webkit-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}

.alert {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: .3em;
    padding: 1.5em;
    margin: 1em;
    text-align: center;
}

.alert.error {
    color: #920b0b;
    border-color: #920b0b;
    background-color: #e99797;
}